<template name="header">
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu accordion-menu">
                <li class="menu-text" role="menuitem">JsQuiz</li>
                <li role="menuitem"><a href="#">Start quiz</a></li>
                <li role="menuitem"><a href="#">Add quiz</a></li>
                <li role="menuitem"><a href="#">Progress</a></li>
                <li role="menuitem"><a href="#">About</a></li>
            </ul>
        </div>
        {{> loginButtons}}
        {{> login}}
    </div>
</template>
